## OS Specific Hidden Files ####

# MacOSX Finder *****
.DS_Store

# Fuse FileSystem ***
.fuse_hidden*


## PlatformIO ##################
.pioenvs
.clang_complete
.gcc-flags.json
.piolibdeps

## Project #####################
lib/readme.txt
src/Custom.h
