## OS Specific Hidden Files ####

# MacOSX Finder *****
.DS_Store

# Fuse FileSystem ***
.fuse_hidden*


## PlatformIO ##################
.pioenvs
.clang_complete
.gcc-flags.json
.piolibdeps
pre_extra_script.py
*.code-workspace
.pio

## Project #####################
lib/readme.txt
src/Custom.h
/ESPEasy
test/output_export.cpp
.vscode
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
src/ESPEasy.ino.cpp

docs/build/

\.pio/

docs/source/_build/

venv/

.idea/

tools/vagrant/.vagrant/

tools/vagrant/build/

tools/vagrant/Custom.h


.buildcache/

tools/vagrant/pio_envlist.txt

build_output/

**/__tmpfile.cpp

src/_Custom.h

dist/Espressif_flash_download_tool_v3.8.5/logs/

dist/Espressif_flash_download_tool_v3.8.5/dl_temp/bin_tmp/

dist/Espressif_flash_download_tool_v3.8.5/dl_temp/_temp_by_dltool/

dist/Espressif_flash_download_tool_v3.8.5/configure/esp32/spi_download.conf
src/CustomIR.h
