[submodule "lib/Adafruit_NeoPixel"]
	path = lib/Adafruit_NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel.git
[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "lib/IRremoteESP8266"]
	path = lib/IRremoteESP8266
	url = https://github.com/sebastienwarin/IRremoteESP8266.git
[submodule "lib/Adafruit_Motor_Shield_V2"]
	path = lib/Adafruit_Motor_Shield_V2
	url = https://github.com/adafruit/Adafruit_Motor_Shield_V2_Library.git
