aiofiles==23.1.0
aiohttp==3.8.1
aiohttp-retry==2.4.6
aiosignal==1.2.0
ajsonrpc==1.2.0
alabaster==0.7.12
anyio==3.6.1
appdirs==1.4.4
asgiref==3.5.2
async-timeout==4.0.2
asyncssh==2.10.0
atpublic==3.0.1
attrs==21.4.0
Babel==2.9.1
bitstring==4.0.2
bottle==0.12.21
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.1.3
colorama==0.4.4
commonmark==0.9.1
configobj==5.0.6
cryptography==36.0.2
desktop-notifier==3.4.2
dictdiffer==0.9.0
diskcache==5.4.0
distro==1.7.0
docutils==0.17.1
dpath==2.0.6
dulwich==0.20.35
dvc==2.10.1
dvc-render==0.0.4
ecdsa==0.18.0
esbonio==0.14.1
esptool==4.6
flatten-dict==0.4.2
flufl.lock==7.0
frozenlist==1.3.0
fsspec==2022.3.0
ftfy==6.1.1
funcy==1.17
future==0.18.2
gitdb==4.0.9
GitPython==3.1.27
grandalf==0.6
h11==0.13.0
idna==3.3
ifaddr==0.1.7
imagesize==1.2.0
Jinja2==3.0.2
livereload==2.6.3
mailchecker==4.1.14
MarkupSafe==2.0.1
marshmallow==3.19.0
multidict==6.0.2
nanotime==0.5.2
networkx==2.8
packaging==21.0
pathspec==0.9.0
phonenumbers==8.12.46
platformio==6.1.9
psutil==5.9.0
pycparser==2.21
pydantic==1.8.2
pydot==1.4.2
pyelftools==0.29
pygit2==1.12.1
pygls==0.11.3
Pygments==2.10.0
pygtrie==2.4.2
pyparsing==2.4.7
pyserial==3.5
pyspellchecker==0.6.3
python-benedict==0.25.0
python-dateutil==2.8.2
python-fsutil==0.6.0
python-slugify==6.1.1
pytz==2021.3
PyYAML==6.0
recommonmark==0.7.1
reedsolo==1.7.0
requests==2.26.0
rich==12.2.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scmrepo==0.0.16
SCons==4.5.2
semantic-version==2.10.0
shortuuid==1.0.8
shtab==1.5.3
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
snowballstemmer==2.1.0
Sphinx==4.5.0
sphinx-autobuild==2021.3.14
sphinx-bootstrap-theme==0.8.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
starlette==0.28.0
tabulate==0.9.0
tasmota-metrics==0.3.3
text-unidecode==1.3
toml==0.10.2
tornado==6.1
tqdm==4.64.0
typeguard==2.13.3
typing_extensions==4.1.1
urllib3==1.26.7
uvicorn==0.22.0
voluptuous==0.13.1
wcwidth==0.2.5
winsdk==1.0.0b7
wsproto==1.2.0
xmltodict==0.12.0
yarl==1.7.2
zc.lockfile==2.0
zeroconf==0.38.6
zopfli==0.2.2
