alabaster==0.7.12        
argh==0.26.2
Babel==2.9.1
bottle==0.12.19
cached-property==1.5.2   
certifi==2021.10.8       
cffi==1.15.0
chardet==4.0.0
click==8.0.3
colorama==0.4.4
commonmark==0.9.1        
cryptography==35.0.0
docutils==0.17.1
idna==3.3
imagesize==1.2.0
Jinja2==3.0.2
livereload==2.6.3
MarkupSafe==2.0.1
marshmallow==3.14.0
packaging==21.0
pathtools==0.1.2
platformio>=5.2.3
port-for==0.6.1
pycparser==2.20
pyelftools==0.27
pygit2==1.7.0
Pygments==2.10.0
pyparsing==2.4.7
pyserial==3.5
pytz==2021.3
PyYAML==6.0
recommonmark==0.7.1
requests==2.26.0
semantic-version==2.8.5
six==1.16.0
snowballstemmer==2.1.0
tabulate==0.8.9
tornado==6.1
urllib3==1.26.7
watchdog==2.1.6
