alabaster==0.7.12
argh==0.26.2
Babel==2.8.0
bottle==0.12.18
cached-property==1.5.1
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
click==7.1.2
colorama==0.4.3
commonmark==0.9.1
docutils==0.16
idna==2.10
imagesize==1.2.0
Jinja2==2.11.2
livereload==2.6.2
MarkupSafe==1.1.1
marshmallow==3.7.1
packaging==20.4
pathtools==0.1.2
platformio>=5.0.1
port-for==0.3.1
pycparser==2.20
pyelftools==0.26
pygit2==1.2.1
Pygments==2.6.1
pyparsing==2.4.7
pyserial==3.4
pytz==2020.1
PyYAML==5.3.1
recommonmark==0.6.0
requests==2.24.0
semantic-version==2.8.5
six==1.15.0
snowballstemmer==2.0.0
tabulate==0.8.7
tornado==6.0.4
urllib3==1.25.10
watchdog==0.10.3
