########################################################################
# This file defines which file types are to be ignored and skipped by  #
# git so that they are not transferred and committed.                  #
#                                                                      #
# Date       Author     Comments                                       #
# ========== ========== ============================================== #
# 2021-12-11 SV-Zanshin New ignore for Visual Studio 2022 *.vcxitems   #
# 2020-12-11 SV-Zanshin Ignores for doxygen and clang-format files     #
# 2019-01-31 SV-Zanshin Ignores for doxygen                            #
# 2018-09-22 SV-Zanshin Ignores for MS VS 2017                         #
# 2018-06-24 SV-Zanshin Changed file                                   #
#                                                                      #
########################################################################

########################################################################
# Windows image file caches                                            #
########################################################################
Thumbs.db
ehthumbs.db

########################################################################
# Windows folder config file                                           #
########################################################################
Desktop.ini

########################################################################
# Recycle Bin used on file shares                                      #
########################################################################
$RECYCLE.BIN/

########################################################################
# Windows Installer files                                              #
########################################################################
*.cab
*.msi
*.msm
*.msp

########################################################################
# Windows shortcuts                                                    #
########################################################################
*.lnk

########################################################################
# Operating System Files - OSX                                         #
########################################################################
.DS_Store
.AppleDouble
.LSOverride

########################################################################
# Thumbnails                                                           #
########################################################################
._*

########################################################################
# Files that might appear in the root of a volume                      #
########################################################################
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

########################################################################
# Directories potentially created on remote AFP share                  #
########################################################################
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

########################################################################
# Files and directories from the Atmel Studio Arduino IDE              #
########################################################################
.vs
__vm
Debug
Release
*.atsln
*.componentinfo.xml
*.cppproj

########################################################################
# Files and directories from Microsoft Visual Studio                   #
########################################################################
*.sln
*.vcxproj
*.filters
*.user
*.vcxitems

########################################################################
# Files and directories from Visual Studio Code                        #
########################################################################
.vscode

########################################################################
# Files and directories from doxygen                                   #
########################################################################
html
Doxyfile

########################################################################
# Clang-format files                                                   #
########################################################################
.clang-format
