.blue {
  color: #3492E2;
}
.red {
  color: #EF483D;
}
.green {
  color: #00AE41;
}
.yellow {
  color: #FFD100;
}
.orange {
  color: #FF8F12;
}
.cyan {
  color: #72DCDC;
}
.purple {
  color: #FF00FF;
}