* {
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 12pt;
	margin: 0;
	padding: 0
}

h1 {
	color: #07D;
	font-size: 16pt;
	font-weight: 700;
	margin: 8px 0
}

h2 {
	background-color: #444;
	color: #FFF;
	font-size: 12pt;
	font-weight: 700;
	margin: 0 -4px;
	padding: 6px
}

h3 {
	background-color: #EEE;
	color: #444;
	font-size: 12pt;
	font-weight: 700;
	margin: 16px -4px 0;
	padding: 4px
}

h6 {
	color: #07D;
	font-size: 10pt
}

pre,
xmp,
code,
kbd,
samp,
tt {
	font-family: monospace, monospace;
	font-size: 1em
}

.button {
	background-color: #07D;
	border: none;
	border-radius: 4px;
	color: #FFF;
	margin: 4px;
	padding: 4px 16px;
	text-decoration: none
}

.button.link.wide {
	display: inline-block;
	text-align: center;
	width: 100%
}

.button.link.red {
	background-color: red
}

.button.help {
	border-color: gray;
	border-radius: 50%;
	border-style: solid;
	border-width: 1px;
	padding: 2px 4px
}

.button:hover {
	background: #369
}

input,
select,
textarea {
	background-color: #eee;
	border-color: gray;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	margin: 4px;
	padding: 4px 8px
}

input:hover {
	background-color: #ccc
}

input.wide {
	max-width: 500px;
	width: 80%
}

input.widenumber {
	max-width: 500px;
	width: 100px
}

#selectwidth {
	max-width: 500px;
	padding: 4px 8px;
	width: 80%
}

select:hover {
	background-color: #ccc
}

.container {
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	display: block;
	font-size: 12pt;
	margin-left: 4px;
	margin-top: 0;
	padding-left: 35px;
	position: relative;
	user-select: none
}

.container input {
	cursor: pointer;
	opacity: 0;
	position: absolute
}

.checkmark {
	background-color: #eee;
	border-color: gray;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	height: 25px;
	left: 0;
	position: absolute;
	top: 0;
	width: 25px
}

.container:hover input~.checkmark {
	background-color: #ccc
}

.container input:checked~.checkmark {
	background-color: #07D
}

.checkmark:after {
	content: '';
	display: none;
	position: absolute
}

.container input:checked~.checkmark:after {
	display: block
}

.container .checkmark:after {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 3px 3px 0;
	height: 10px;
	left: 7px;
	top: 3px;
	transform: rotate(45deg);
	width: 5px
}

.container2 {
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	display: block;
	font-size: 12pt;
	margin-bottom: 20px;
	margin-left: 9px;
	padding-left: 35px;
	position: relative;
	user-select: none
}

.container2 input {
	cursor: pointer;
	opacity: 0;
	position: absolute
}

.dotmark {
	background-color: #eee;
	border-color: gray;
	border-radius: 50%;
	border-style: solid;
	border-width: 1px;
	height: 26px;
	left: 0;
	position: absolute;
	top: 0;
	width: 26px
}

.container2:hover input~.dotmark {
	background-color: #ccc
}

.container2 input:checked~.dotmark {
	background-color: #07D
}

.dotmark:after {
	content: '';
	display: none;
	position: absolute
}

.container2 input:checked~.dotmark:after {
	display: block
}

.container2 .dotmark:after {
	background: #fff;
	border-radius: 50%;
	height: 8px;
	left: 8px;
	top: 8px;
	width: 8px
}

#toastmessage {
	background-color: #07D;
	border-color: gray;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	bottom: 30%;
	color: #fff;
	font-size: 17px;
	left: 282px;
	margin-left: -125px;
	min-width: 250px;
	padding: 16px;
	position: fixed;
	text-align: center;
	visibility: hidden;
	z-index: 1
}

#toastmessage.show {
	-webkit-animation: fadein 0.5s, fadeout .5s 2.5s;
	animation: fadein 0.5s, fadeout .5s 2.5s;
	visibility: visible
}

@-webkit-keyframes fadein {
	from {
		bottom: 20%;
		opacity: 0
	}
	to {
		bottom: 30%;
		opacity: .9
	}
}

@keyframes fadein {
	from {
		bottom: 20%;
		opacity: 0
	}
	to {
		bottom: 30%;
		opacity: .9
	}
}

@-webkit-keyframes fadeout {
	from {
		bottom: 30%;
		opacity: .9
	}
	to {
		bottom: 0;
		opacity: 0
	}
}

@keyframes fadeout {
	from {
		bottom: 30%;
		opacity: .9
	}
	to {
		bottom: 0;
		opacity: 0
	}
}

.level_0 {
	color: #F1F1F1
}

.level_1 {
	color: #FCFF95
}

.level_2 {
	color: #9DCEFE
}

.level_3 {
	color: #A4FC79
}

.level_4 {
	color: #F2AB39
}

.level_9 {
	color: #F50
}

.logviewer {
	background-color: #272727;
	border-color: gray;
	border-style: solid;
	color: #F1F1F1;
	font-family: 'Lucida Console', Monaco, monospace;
	height: 530px;
	max-width: 1000px;
	overflow: auto;
	padding: 4px 8px;
	width: 80%
}

textarea {
	font-family: 'Lucida Console', Monaco, monospace;
	max-width: 1000px;
	padding: 4px 8px;
	width: 80%
}

textarea:hover {
	background-color: #ccc
}

table.normal th {
	background-color: #444;
	border-color: #888;
	color: #FFF;
	font-weight: 700;
	padding: 6px
}

table.normal td {
	height: 30px;
	padding: 4px
}

table.normal tr {
	padding: 4px
}

table.normal {
	border-collapse: collapse;
	color: #000;
	min-width: 420px;
	width: 100%
}

table.multirow th {
	background-color: #444;
	border-color: #888;
	color: #FFF;
	font-weight: 700;
	padding: 6px
}

table.multirow td {
	height: 30px;
	padding: 4px;
	text-align: center
}

table.multirow tr {
	padding: 4px
}

table.multirow tr:nth-child(even) {
	background-color: #DEE6FF
}

table.multirow {
	border-collapse: collapse;
	color: #000;
	min-width: 420px;
	width: 100%
}

tr.highlight td {
	background-color: #dbff0075
}

.note {
	color: #444;
	font-style: italic
}

.headermenu {
	background-color: #F8F8F8;
	border-bottom: 1px solid #DDD;
	height: 90px;
	left: 0;
	padding: 8px 12px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1
}

.apheader {
	background-color: #F8F8F8;
	padding: 8px 12px
}

.bodymenu {
	margin-top: 96px
}

.menubar {
	position: inherit;
	top: 55px
}

.menu {
	border: solid transparent;
	border-radius: 4px 4px 0 0;
	border-width: 4px 1px 1px;
	color: #444;
	float: left;
	padding: 4px 16px 8px;
	text-decoration: none;
	white-space: nowrap
}

.menu.active {
	background-color: #FFF;
	border-color: #07D #DDD #FFF;
	color: #000
}

.menu:hover {
	background: #DEF;
	color: #000
}

.menu_button {
	display: none
}

.on {
	color: green
}

.off {
	color: red
}

.div_l {
	float: left
}

.div_r {
	background-color: #080;
	border-radius: 4px;
	color: #fff;
	float: right;
	margin: 2px;
	padding: 1px 10px
}

.div_br {
	clear: both
}

.alert {
	background-color: #f44336;
	color: #fff;
	margin-bottom: 15px;
	padding: 20px
}

.warning {
	background-color: #ffca17;
	color: #fff;
	margin-bottom: 15px;
	padding: 20px
}

.closebtn {
	color: #fff;
	cursor: pointer;
	float: right;
	font-size: 22px;
	font-weight: 700;
	line-height: 20px;
	margin-left: 15px;
	transition: .3s
}

.closebtn:hover {
	color: #000
}

section {
	overflow-x: auto;
	width: 100%
}

@media screen and (max-width: 960px) {
	span.showmenulabel {
		display: none
	}
	.menu {
		max-width: 11vw;
		max-width: 48px
	}
}

