h1,h6 {
	color:#07D 
}
.checkmark:after,.dotmark:after {
	display:none;
	position:absolute;
	content: ''
}
.button,.menu {
	text-decoration:none 
}
.div_l,.menu {
	float:left 
}
.closebtn,.div_r {
	color:#fff;
	float:right 
}
* {
	box-sizing:border-box;
	font-family:sans-serif;
	font-size:12pt;
	margin:0 
}
h1 {
	font-size:16pt;
	margin:8px 0 
}
h2,h3 {
	font-size:12pt 
}
h2 {
	background-color:#444;
	color:#FFF;
	margin:0 -4px;
	padding:6px 
}
h3 {
	background-color:#cacaca;
	color:#444;
	margin:-4px;
	padding:6px 
}
h6 {
	font-size:10pt 
}
code,kbd,pre,samp,tt,xmp {
	font-family:monospace,monospace;
	font-size:1em 
}
.button {
	background-color:#07D;
	border:0;
	border-radius:5px;
	color:#FFF;
	margin:4px;
	padding:4px 16px 
}
.button.help,.checkmark,input,select,textarea {
	border-color:gray;
	border-style:solid;
	border-width:1px 
}
.button.link.wide {
	display:inline-block;
	text-align:center;
	width:100% 
}
.button.link.red {
	background-color:red 
}
.button.help {
	border-radius:50%;
	font-family:monospace;
	padding:2px 7px 
}
.checkmark,input,select,textarea {
	border-radius:5px 
}
.button:hover {
	background:#369 
}
input,select,textarea {
	background-color:#eee;
	padding:4px 8px 
}
input.wide,select.wide {
	margin-bottom:5px;
	max-width:350px;
	width:95% 
}
.widenumber {
	max-width:500px;
	width:100px 
}
.container,.container2 {
	cursor:pointer;
	font-size:12pt;
	padding-left:35px 
}
.container {
	display:block;
	height:30px;
	margin-left:4px;
	margin-top:0;
	position:relative;
	user-select:none 
}
.checkmark.disabled {
	background-color:grey 
}
.checkmark {
	background-color:#eee;
	height:25px;
	left:0;
	position:absolute;
	top:0;
	width:25px 
}
.container .checkmark:after {
	border:solid #fff;
	border-width:0 3px 3px 0;
	height:10px;
	left:7px;
	top:3px;
	transform:rotate(45deg);
	width:5px 
}
#toastmessage,.dotmark,.logviewer {
	border-color:gray;
	border-style:solid 
}
#toastmessage,.dotmark {
	border-width:1px 
}
.container2 {
	margin-bottom:20px;
	margin-left:9px;
	position:relative;
	user-select:none 
}
.dotmark {
	background-color:#eee;
	border-radius:50%;
	height:26px;
	left:0;
	position:absolute;
	top:0;
	width:26px 
}
.container2 .dotmark:after {
	background:#fff;
	border-radius:50%;
	height:8px;
	left:8px;
	top:8px;
	width:8px 
}
.logviewer,textarea {
	font-family:'Lucida Console',Monaco,monospace;
	height:60vh;
	width:100% 
}
#toastmessage {
	background-color:#07D;
	border-radius:5px;
	bottom:30%;
	color:#fff;
	font-size:17px;
	left:282px;
	margin-left:-125px;
	min-width:250px;
	padding:16px;
	position:fixed;
	text-align:center;
	visibility:hidden;
	z-index:1 
}
#toastmessage.show {
	animation:fadein .5s,fadeout .5s 2.5s;
	visibility:visible 
}
.container input,.container2 input {
	cursor:pointer;
	opacity:0;
	position:absolute 
}
.container input:checked~.checkmark,.container2 input:checked~.dotmark {
	background-color:#07D 
}
.container input:checked~.checkmark:after,.container2,.container2 input:checked~.dotmark:after {
	display:block 
}
@keyframes fadein {
	from {
		bottom:20%;
		opacity:0 
   }
	to {
		bottom:30%;
		opacity:.9 
   }
}
@keyframes fadeout {
	from {
		bottom:30%;
		opacity:.9 
   }
	to {
		bottom:0;
		opacity:0 
   }
}
.level_0 {
	color:#F1F1F1 
}
.level_1 {
	color:#FCFF95 
}
.level_2 {
	color:#9DCEFE 
}
.level_3 {
	color:#A4FC79 
}
.level_4 {
	color:#F2AB39 
}
.level_9 {
	color:#F50 
}
.logviewer {
	background-color:#272727;
	color:#f1f1f1;
	overflow:auto 
}
tbody {
	display:inline-block;
	overflow:auto 
}
table.multirow th,
table.multi2row th,
table.normal th {
	background-color:#444;
	border-color:silver;
	border-width:thin;
	color:#FFF;
	padding:6px;
	width:100vw 
}
table.multirow th,
table.normal th {
	align-content:center;
	text-align:center;
}
table.multi2row th{
	align-content:flex-start;
	text-align:left
}
tr td {
	border-width:thin 
}
table.multirow,
table.multi2row,
table.normal {
	border-spacing:0;
	border-style:none;
	min-width:420px;
	padding-bottom:5px 
}
table.multirow tr,table.multi2row tr,table.normal td,table.normal tr {
	padding:4px 
}
table.normal td {
	height:30px 
}
table.multirow td {
	border-color:silver;
	height:30px;
	padding:4px;
	text-align:center 
}
table.multi2row td {
	height:30px;
	padding:4px;
	align-content:flex-start;
	text-align:left
}

table.multirow tr:nth-child(odd),
table.multi2row tr:nth-child(4n+3),
table.multi2row tr:nth-child(4n+4) {
	background-color: #e8e8e8
}
.highlight td {
	background-color:#dbff0075 
}
.apheader,.headermenu {
	background-color:#F8F8F8;
	padding:8px 12px;
	width:100vw 
}
.note {
	color:#444;
	font-style:italic 
}
.headermenu {
	border-bottom:.1px solid #444;
	height:100px;
	position:fixed;
	top:0;
	z-index:1 
}
.bodymenu {
	background-color:#fff;
	height:100vh;
	padding-top:100px 
}
.menubar {
	position:inherit;
	top:54px;
	width:100% 
}
a.menu {
	align-items:center;
	display:flex;
	height:46px;
	justify-content:center 
}
.menu {
	border:solid transparent 1px;
	border-radius:5px 5px 0 0;
	color:#444;
	padding:10px 10px 8px;
	white-space:nowrap 
}
.menu.active {
	background-color:#FFF;
	border-color:#444 #444 #fff;
	border-width:.1px;
	color:#000 
}
.menu:hover {
	background:#bdbdbd;
	color:#000 
}
.menu_button {
	display:none 
}
.on {
	color:#029B34 
}
.off {
	color:red 
}
.div_r {
	background-color:#029B34;
	border-radius:4px;
	margin:2px;
	padding:1px 10px 
}
.alert,.warning {
	color:#fff;
	margin-bottom:15px;
	padding:20px 
}
.div_br {
	clear:both 
}
.alert {
	background-color:#f44336 
}
.warning {
	background-color:#ffca17 
}
.closebtn {
	cursor:pointer;
	font-size:22px;
	line-height:20px;
	margin-left:15px;
	transition:.3s 
}
.closebtn:hover {
	color:#000 
}
section {
	overflow-x:auto;
	padding:10px 0 
}
footer {
	padding:0 5px;
	word-break:break-word 
}
@media screen and (max-width: 780px) {
	.showmenulabel {
		display:none 
   }
	a.menu {
		width:12% 
   }
}
@media screen and (max-width: 450px) {
	table.normal {
		min-width:300px 
   }
	input.wide:focus {
		left:4px;
		position:absolute;
		z-index:1 
   }
	.container {
		display:inline;
		user-select:none 
   }
}